defaults:
    - model: base
    - algorithm: base
    - _self_

# model:
    # common:
     
    # initializer

    # backbone:
        
    # label_scorer:

    # forward_head

    # backward_head

    # Z_head

algorithm:
    reward_scale_factor: 2

    eval_every_n: 1000

    exploration_scheduler: 
        init_value: 0.0005
        end_value: 0.
        transition_steps: 1000
        transition_begin: 1000

    save_every_n: 10000
    
# train_path: ./data/ud-treebanks-v2.14/UD_English-EWT/en_ewt-ud-train.conllu
train_path: ./sanity-dev.conllu
save_path: ./output/
pre_tokenize: True
dump_foldername: 'zero_exploration/'
batch_size: 4
num_workers: 0
max_number_of_words: 100    # equal to max_number of node in train mode
seed: 42
num_tags: 1
device: cuda:0