defaults:
    - model: base
    - algorithm: base
    - _self_

model:
    # common hyperparams (all sub-models will inherit these hyperparams if not specified)
    common:
        node_embedding_dim: 256
        label_embedding_dim: 256
        hidden_layers: [256, 128]
        dropout_rate: 0.1
        activation: ReLU
     
    # pref_encoder:

    state_encoder:
        _partial_: True
        # word_embedding_dim

    # backbone:
        
    # label_scorer:

    # output_logits:
        # _partial_: True

    # output_Z:
        # _partial_: True

algorithm:
    reward_scale_factor: 2

    train:
        eval_every_n: 200

        exploration_scheduler: 
            init_value: 0.0005
            end_value: 0.
            transition_steps: 1000
            transition_begin: 1000

        save_every_n: 2000
    eval:
        batch_size: 16
    
train_path: ./data/ud-treebanks-v2.14/UD_English-EWT/en_ewt-ud-train.conllu
save_path: ./output/
dump_foldername: 'zero_exploration/'
batch_size: 16
num_workers: 8
max_number_of_words: 100    # equal to max_number of node in train mode
init_label_embeddings: False
seed: 42
device: cuda
num_tags: 53