defaults:
    - model: base
    - algorithm: base
    - _self_

model:
    # common hyperparams (all sub-models will inherit these hyperparams if not specified)
    common:
        node_embedding_dim: 64
        label_embedding_dim: 64
        hidden_layers: [256, 128]
        dropout_rate: 0.1
        activation: ReLU
     
    # pref_encoder:

    state_encoder:
        _partial_: True
        # word_embedding_dim

    # backbone:
        
    # label_scorer:

    # output_logits:
        # _partial_: True

    # output_Z:
        # _partial_: True

train_path: /content/drive/MyDrive/dp_gfn/data/ud-treebanks-v2.14/UD_English-Atis/en_atis-ud-train.conllu
batch_size: 16
num_workers: 4
max_number_of_words: 158
init_label_embeddings: False
seed: 42
device: cuda