defaults:
    - model: base
    - _self_

model:
    # common hyperparams (all sub-models will inherit these hyperparams if not specified)
    common:
        node_embedding_dim: 256
        label_embedding_dim: 256
        hidden_layers: [256, 128]
        dropout_rate: 0.1
        activation: ReLU
    
    # pref_encoder:

    state_encoder:
        _partial_: True
        # word_embedding_dim

    # backbone:
        
    # label_scorer:

    # output_logits:

    # output_Z:

max_number_of_words: 158
num_tags: 60
init_label_embeddings: False
seed: 42